In [1]:
import pandas as pd
df = pd.read_csv('data/wine-data.csv')
df

      alcohol  sugar    pH  class
0         9.4    1.9  3.51      0
1         9.8    2.6  3.20      0
2         9.8    2.3  3.26      0
3         9.8    1.9  3.16      0
4         9.4    1.9  3.51      0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27      1
6493      9.6    8.0  3.15      1
6494      9.4    1.2  2.99      1
6495     12.8    1.1  3.34      1
6496     11.8    0.8  3.26      1

[6497 rows x 4 columns]

In [2]:
df.columns

Index(['alcohol', 'sugar', 'pH', 'class'], dtype='object')

In [3]:
features = ['alcohol', 'sugar', 'pH']
label= 'class'

X = df[features]
y = df[label]
X,y

(      alcohol  sugar    pH
 0         9.4    1.9  3.51
 1         9.8    2.6  3.20
 2         9.8    2.3  3.26
 3         9.8    1.9  3.16
 4         9.4    1.9  3.51
 ...       ...    ...   ...
 6492     11.2    1.6  3.27
 6493      9.6    8.0  3.15
 6494      9.4    1.2  2.99
 6495     12.8    1.1  3.34
 6496     11.8    0.8  3.26

 [6497 rows x 3 columns],
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 6492    1
 6493    1
 6494    1
 6495    1
 6496    1
 Name: class, Length: 6497, dtype: int64)

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2,random_state=62)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)

print(knn.score(X_train,y_train))
print(knn.score(X_test,y_test))

0.8883756735950731
0.8476337052712581

In [13]:
from sklearn.preprocessing import MinMaxScaler

minMaxScaler = MinMaxScaler()
minMaxScaler.fit(X_train)
X_train_minMax = minMaxScaler.transform(X_train)
X_test_minMax = minMaxScaler.transform(X_test)

knn.fit(X_train_minMax,y_train)

print(knn.score(X_train_minMax,y_train))
print(knn.score(X_test_minMax,y_test))

0.8799076212471132
0.8447479799923048

In [16]:
from sklearn.model_selection import GridSearchCV

params = {
    'n_neighbors': range(1,11),
    'metric': ["manhattan","euclidean"],
    'weights':['uniform','distance']
}
knn = KNeighborsClassifier()

grid_cv = GridSearchCV(knn, param_grid= params,cv=3,n_jobs=-1)
grid_cv.fit(X_train_minMax,y_train)

print("최적의 하이퍼 파라미터 : ", grid_cv.best_params_)

print(grid_cv.score(X_train_minMax,y_train))
print(grid_cv.score(X_test_minMax,y_test))

최적의 하이퍼 파라미터 :  {'metric': 'manhattan', 'n_neighbors': 9, 'weights': 'distance'}
0.9984603541185527
0.8559061177375914

In [17]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')
svc.fit(X_train,y_train)

print(svc.score(X_train,y_train))
print(svc.score(X_test,y_test))

0.775211701308699
0.7747210465563679

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaler = scaler.transform(X_train)
X_test_sclaer = scaler.transform(X_test)

In [20]:
svc.fit(X_train_scaler,y_train)

print(svc.score(X_train_scaler,y_train))
print(svc.score(X_test_sclaer,y_test))

0.7798306389530408
0.778183916891112

In [ ]:
from sklearn.model_selection import GridSearchCV

param_range = [ 0.001, 0.01, 0.1, 1.0, 10.0, 100.0]
params =

### K-최근접 이웃 알고리즘
* 주위에서 가장 가까운 다른 데이터를 보고 현재 데이터를 판단

#### 하이퍼파라미터
* n_neighbors
    - 기본 가까운 5개의 데이터를 보고 자기 자신이 어디에 속하는지를 판단
    - 비교하고자 하는 데이터의 수가 적을 수록 과대 적합이 된다
* metric : 거리계산 척도
    - euclidean(녹색) : 유클리디안 거리 측정
        * 목표 지점까지 가장 짧은 거리
    - manhattan(빨간색) : 맨하튼 거리 측정 방법
        * 찾아가는 경로의 모든 길이의 합
* weights : 가중치
    - uniform : 거리에 가중치 부여하지 않음(균일한 가중치)
    - distance : 거리에 가중치 부여(가까이 있는 데이터에 가중치)