In [8]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv('data/bank_cleaning.csv')
df

       age  duration  campaign  pdays  previous  y
0       56       261         1    999         0  0
1       57       149         1    999         0  0
2       37       226         1    999         0  0
3       40       151         1    999         0  0
4       56       307         1    999         0  0
...    ...       ...       ...    ...       ... ..
41183   73       334         1    999         0  1
41184   46       383         1    999         0  0
41185   56       189         2    999         0  0
41186   44       442         1    999         0  1
41187   74       239         3    999         1  0

[41188 rows x 6 columns]

In [10]:
df.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'y'], dtype='object')

In [11]:
features = ['age', 'duration', 'campaign', 'pdays', 'previous']
label = 'y'
X = df[features]
y = df[label]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()
kn.fit(X_train,y_train)
kn.score(X_test,y_test)

0.8985999838148417

In [ ]:
import sklearn.svm as svm
svm_linear = svm.SVC(kernel='linear')
svm_linear.fit(X_train,y_train)
svm_linear.score(X_test,y_test)